<div *ngIf="jobs" class="job-card">
  <div class="job-card__photo">
    <img
      mat-card-image
      [src]="jobs.pictures[0]"
      alt="'{{ jobs.pictures }}' photo"
    />
  </div>
  <div class="card-info-wrapper">
    <div class="card-info">
      <h2 class="card-info__title">
        {{ jobs.title }}
      </h2>
      <div class="card-info__subtitle">
        <p>Department name •</p>
        <p>
          {{ jobs.name }}
        </p>
        <p>- AKH</p>
      </div>
      <div class="card-info__location">Vienna, Austria</div>
    </div>
    <div class="card-rate">
      <img src="../../../assets/icons/rate-star.png" class="card-rate__star" />
      <img src="../../../assets/icons/rate-star.png" class="card-rate__star" />
      <img src="../../../assets/icons/rate-star.png" class="card-rate__star" />
      <img src="../../../assets/icons/rate-star.png" class="card-rate__star" />
      <img src="../../../assets/icons/rate-star.png" class="card-rate__star" />
    </div>
    <div class="card-end">
      <button 
      class="card-end__bookmark">
        <img src="../../../assets/icons/bookmark.png" class="bookmark__ico" />
      </button>
      <div class="card-end__time">
        Posted {{ jobs.createdAt | date: "mediumDate" }}
      </div>
    </div>
  </div>
</div>
