@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Roboto&display=swap');


$montserrat-font: 'Montserrat', Arial, Helvetica, sans-serif;
$roboto-font: 'Roboto', Arial, Helvetica, sans-serif;

$main-text-color: #3A4562;
$second-text-color: #878D9D;
$btn-text-color: #FFFFFF;
$employment-type-color: #55699E;
$benefites-type-color: #988B49;