<div *ngIf="jobs" class="container">
  <div class="main-content">
    <div class="section-header">
      <h2>Job Details</h2>
      <div class="section-header__btns">
        <button>
          <img src="./assets/icons/bookmark.svg" alt="" />
          <p> Save to my list </p>
        </button>
        <button>
          <img src="./assets/icons/share.svg" alt="" />
          <p> Share </p>
        </button>
      </div>
    </div>
    <button class="apply-btn">apply now</button>
    <div class="title">
      <h1 class="title__name">
        {{ jobs.title }}
      </h1>
      <div class="salary">
        <div class="salary__amount">€&nbsp;{{ jobs.salary | uppercase }}</div>
        <div class="salary__details">Brutto, per year</div>
      </div>
    </div>
    <div class="created-date">
      Posted {{ jobs.createdAt | date: "mediumDate" }}
    </div>
    <div class="text">
      <p class="text__content">
        {{ jobs.description }}
      </p>
      <h3 class="text__title">Responsopilities</h3>
      <p class="text__content">
        {{ jobs.description | slice: 0:300 }}
      </p>
      <p class="text__content">
        {{ jobs.description | slice: 70:410 }}
      </p>
      <p class="text__content">
        {{ jobs.description | slice: 150:630 }}
      </p>

      <h3 class="text__title">Compensation & Benefits:</h3>
      <p>Our physicians enjoy a wide range of benefits, including:</p>
      <ul class="benefites-list">
        <li class="benefites-list__item">
          <p>Very competitive compensation package with bonuses</p>
        </li>
        <li class="benefites-list__item">
          <p>Medical, Dental, and Vision Insurance</p>
        </li>
        <li class="benefites-list__item">
          <p>Occurrence-based Malpractice Coverage</p>
        </li>
        <li class="benefites-list__item">
          <p>
            Short-term and Long-term Disability Insurance and life insurance
          </p>
        </li>
      </ul>
      <button class="apply-btn">apply now</button>
    </div>
    <div class="section-header">
      <h2>Additional info</h2>
    </div>

    <div class="additional">
      <div class="additional__block">
        <h4>Employment type</h4>
        <ul class="additional__list">
          <li
            *ngFor="let item of jobs.employment_type"
            class="additional__item"
          >
            {{ item }}
          </li>
        </ul>
      </div>

      <div class="additional__block">
        <h4>Benefits</h4>
        <ul class="additional__list">
          <li
            *ngFor="let item of jobs.benefits"
            class="additional__item additional__item-another"
          >
            {{ item }}
          </li>
        </ul>
      </div>
    </div>

    <div class="section-header">
      <h2>Attached images</h2>
    </div>

    <div class="images-block">
      <li class="images-block__item" *ngFor="let item of jobs.pictures">
        <img src="{{ item }}" alt="photo" />
      </li>
    </div>

    <button routerLink="/" class="return-btn">
      <img src="./assets/icons/arrow.svg" alt="" />
      <p>return to job board</p>
    </button>
  </div>

  <div class="side-content">
    
  </div>
</div>
