@import "./../../../../styles/variables.scss";

.detail-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    @media (max-width: $large) {
        justify-content: space-between;
    }
    @media (max-width: $less-tablet) {
        flex-direction: column;
    }
}

.main-content {
    max-width: 724px;
    color: $main-text-color;
    margin-right: 50px;

    @media (max-width: $extra-large) {
        max-width: 624px;
    }
    @media (max-width: $very-large) {
        max-width: 560px;
    }
    @media (max-width: $large) {
        max-width: 520px;
        margin-right: 20px;
    }
    @media (max-width: $less-large) {
        max-width: 500px;
        margin-right: 15px;
    }
    @media (max-width: $semi-tablet) {
        max-width: 470px;
    }
    @media (max-width: $exta-variable) {
        max-width: 430px;
    }
    @media (max-width: $tablet) {
        max-width: 380px;
    }
    @media (max-width: $less-tablet) {
        max-width: 100%;
        margin-right: 0px;
    }
    @media (max-width: $small-tablet) {
        grid-template-columns: 357px 107px;
        grid-template-rows: 50px 40px;
        gap: 30px 0px;
    }
    @media (max-width: $semi-mobile) {
        grid-template-columns: 366px 110px;
        grid-template-rows: 74px 40px;
        gap: 0px 0px;
    }

    @media (max-width: $medium) {
        grid-template-columns: 357px 95px;
        grid-template-rows: 72px 40px;
        gap: 8px 0px;
    }
}

.section-header {
    border-bottom: 1px $main-text-color solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @media (max-width: $tablet) {
        margin-bottom: 20px;
    }

    h2 {
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 9px;

        @media (max-width: $tablet) {
            font-size: 1.5rem;
            margin-bottom: 4px;
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        width: 276px;
        margin-bottom: 5px;

        @media (max-width: $large) {
            width: 265px;
        }
        @media (max-width: $semi-tablet) {
            width: 235px;
        }

        @media (max-width: $exta-variable) {
            width: 205px;
        }
        @media (max-width: $less-tablet) {
            height: 40px;
            width: 196px;
        }
        @media (max-width: $less-tablet) {
            width: 186px;
        }

        button {
            border: 0px;
            background-color: inherit;
            height: 50px;
            display: flex;
            align-items: center;
            color: $main-text-color;
            padding: 0 8px;

            @media (max-width: $less-tablet) {
                height: 40px;
                padding: 0px;
            }

            &:hover {
                border-radius: 8px;
                background-color: #2f385017;
                transition-duration: 0.2s;
            }

            &:active {
                background-color: #3a45620e;
                img {
                    filter: invert(24%) sepia(48%) saturate(413%) hue-rotate(184deg) brightness(90%) contrast(88%);
                }
            }

            img {
                filter: invert(24%) sepia(31%) saturate(636%) hue-rotate(186deg) brightness(94%) contrast(89%);

                margin-right: 16px;

                @media (max-width: $semi-tablet) {
                    margin-right: 10px;
                }
                @media (max-width: $exta-variable) {
                    width: 14px;
                    height: 18px;
                }
                @media (max-width: $less-tablet) {
                    margin-right: 5px;
                }
            }
            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                align-items: center;

                @media (max-width: $semi-tablet) {
                    font-size: 1rem;
                }
                @media (max-width: $tablet) {
                    font-size: 0.9rem;
                }
                @media (max-width: $exta-variable) {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

.apply-btn {
    text-transform: uppercase;
    color: $btn-text-color;
    padding: 18px 30px;
    background-color: $main-text-color;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    border: 0px;
    border-radius: 8px;
    margin-bottom: 32px;

    @media (max-width: $semi-tablet) {
        margin-bottom: 22px;
    }
    @media (max-width: $tablet) {
        padding: 15px 22px;
        margin-bottom: 18px;
        font-size: 10px;
    }

    &:hover {
        background-color: #3a45628a;
        transition-duration: 0.2s;
    }
    &:active {
        background-color: #293046;
    }
}

.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;

    display: grid;
    grid-template-columns: 6fr 1.5fr;
    gap: 20px 0px;
    grid-template-areas:
        "name salary"
        "date salary";

    @media (max-width: $very-large) {
        grid-template-columns: 6fr 1.7fr;
    }
    @media (max-width: $large) {
        grid-template-columns: 6fr 1.9fr;
        gap: 10px 0px;
    }
    @media (max-width: $less-large) {
        grid-template-columns: 6fr 2fr;
    }
    @media (max-width: $semi-tablet) {
        grid-template-columns: 6fr 2.2fr;
    }
    @media (max-width: $exta-variable) {
        grid-template-columns: 6fr 2.4fr;
    }
    @media (max-width: $less-tablet) {
        display: grid;
        grid-template-columns: 450px 100px;
        gap: 0px 0px;
        grid-template-areas:
            "name name"
            "date salary";
    }
    @media (max-width: $small-tablet) {
        grid-template-columns: 357px 131px;
        grid-template-rows: 50px 40px;
        gap: 8px 0px;
    }

    @media (max-width: $semi-mobile) {
        grid-template-columns: 320px 131px;
        grid-template-rows: 75px 40px;
        gap: 8px 0px;
    }
    @media (max-width: $medium) {
        grid-template-columns: 257px 95px;
        grid-template-rows: 76px 48px;
        gap: 10px 0px;
    }
    @media (max-width: $almost-mobile) {
        grid-template-columns: 233px 95px;
        grid-template-rows: 98px 48px;
        gap: 0px 0px;
    }
    @media (max-width: $mobile) {
        grid-template-columns: 177px 95px;
        grid-template-rows: 98px 48px;
        gap: 10px 0px;
    }
    @media (max-width: $small-mobile) {
        grid-template-columns: 151px 95px;
        grid-template-rows: 122px 48px;
    }

    &__name {
        max-width: 500px;
        font-size: 20px;
        line-height: 25px;
        grid-area: name;

        @media (max-width: $extra-large) {
            max-width: 460px;
        }
        @media (max-width: $very-large) {
            max-width: 400px;
        }
        @media (max-width: $large) {
            max-width: 350px;
        }
        @media (max-width: $less-large) {
            max-width: 330px;
        }
        @media (max-width: $semi-tablet) {
            max-width: 330px;
        }
        @media (max-width: $exta-variable) {
            max-width: 300px;
        }
        @media (max-width: $tablet) {
            max-width: 260px;
        }
        @media (max-width: $less-tablet) {
            max-width: 100%;
            font-size: 1.1rem;
        }
        @media (max-width: $small-tablet) {
            max-width: 100%;
            margin-right: 0px;
        }
        @media (max-width: $semi-mobile) {
            max-width: 100%;
        }
    }
}
.salary {
    grid-area: salary;

    @media (max-width: $less-tablet) {
        display: flex;
        flex-direction: column-reverse;
    }
    &__amount {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;

        @media (max-width: $tablet) {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__details {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        font-family: $roboto-font;

        @media (max-width: $tablet) {
            font-size: 14px;
            line-height: 20px;
        }
    }
}
.created-date {
    color: $second-text-color;
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
    grid-area: date;

    @media (max-width: $large) {
        margin-bottom: 0px;
    }
    @media (max-width: $less-large) {
        font-size: 1rem;
        // margin-bottom: 6px;
    }
    @media (max-width: $less-tablet) {
        font-size: 0.9rem;
        align-self: center;
    }
}

.text {
    color: $main-text-color;
    font-family: $roboto-font;
    margin-bottom: 86px;

    @media (max-width: $large) {
        margin-bottom: 70px;
    }
    @media (max-width: $less-large) {
        margin-bottom: 60px;
    }
    @media (max-width: $semi-tablet) {
        margin-bottom: 50px;
        font-size: 1rem;
    }
    @media (max-width: $exta-variable) {
        margin-bottom: 20px;
    }
    @media (max-width: $tablet) {
        margin-bottom: 0px;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;

        @media (max-width: $less-large) {
            font-size: 1rem;
        }
        @media (max-width: $less-tablet) {
            font-size: 0.9rem;
        }
    }

    &__content {
        margin-bottom: 30px;

        @media (max-width: $semi-tablet) {
            margin-bottom: 20px;
        }

        &:nth-child(1) {
            margin-bottom: 50px;

            @media (max-width: $semi-tablet) {
                margin-bottom: 30px;
            }
        }
    }

    &__title {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
}
.benefites-list {
    margin-bottom: 30px;
    list-style: none;

    &__item {
        position: relative;

        &::before {
            content: "";
            height: 9px;
            width: 9px;
            background-color: rgba(56, 69, 100, 0.632594);
            position: absolute;
            top: 7px;
            left: -16px;

            @media (max-width: $tablet) {
                height: 6px;
                width: 6px;
            }
        }
    }
}

.additional {
    &__block {
        margin-bottom: 23px;
        h4 {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: $main-text-color;
            font-family: $roboto-font;
            margin-bottom: 10px;
        }
    }

    &__list {
        display: flex;
        column-gap: 8px;
    }

    &__item {
        padding: 17px 0px;
        width: 222px;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        background-color: $employment-type-color;
        border: 1px solid;
        border-radius: 8px;
        text-align: center;
        border-color: #55699e4d;
        color: #55699e;

        @media (max-width: $tablet) {
            width: 180px;
        }
    }
    &__item-another {
        background-color: $benefites-type-color;
        border-color: #ffcf00;
        color: #988b49;
    }
}

.images-block {
    display: flex;
    column-gap: 8px;
    list-style: none;
    margin-bottom: 90px;

    @media (max-width: $tablet) {
        margin-bottom: 55px;
    }
    @media (max-width: $less-tablet) {
        margin-bottom: 25px;
    }

    &__item {
        width: 200px;
        height: 120px;

        &:hover {
            cursor: pointer;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 8px;
            object-fit: cover;
        }
    }
}

.return-btn {
    padding: 18px 26px 16px;
    border-radius: 8px;
    border: 0px;
    background-color: #c4c2c2a2;
    display: flex;
    position: relative;
    left: -20px;

    @media (max-width: $tablet) {
        padding: 18px 16px 16px;
    }

    @media (max-width: $extra-large) {
        left: 0px;
    }
    @media (max-width: $large) {
        left: -20px;
    }
    @media (max-width: $less-large) {
        left: 0px;
    }
    @media (max-width: $less-tablet) {
        display: none;
    }

    &:hover {
        background-color: #e7e7e77c;
        transition-duration: 0.2s;
    }
    &:active {
        background-color: #a1a1a1c5;
        p {
            color: #6375a7;
        }
        img {
            filter: invert(49%) sepia(10%) saturate(1672%) hue-rotate(187deg) brightness(90%) contrast(87%);
        }
    }

    img {
        width: 10px;
        height: 18px;
        margin-right: 20px;

        @media (max-width: $tablet) {
            margin-right: 12px;
        }
    }

    p {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: $main-text-color;
        text-transform: uppercase;
    }
}

.side-content {
    @media (max-width: $less-tablet) {
        max-width: 100%;
    }
    .section-header {
        display: none;

        @media (max-width: $less-tablet) {
            display: block;
            max-width: 100%;
            color: $main-text-color;
        }
    }
    &__wrapper {
        background-color: #2a3047;
        height: 436px;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        z-index: 0;

        &::before {
            content: "";
            height: 273px;
            width: 273px;
            border-radius: 50%;
            background-color: #202336;
            position: absolute;
            top: -14px;
            left: -76px;
            z-index: -1;

            @media (max-width: $exta-variable) {
                left: -106px;
            }
        }

        @media (max-width: $very-large) {
            max-width: 350px;
        }
        @media (max-width: $large) {
            max-width: 320px;
        }
        @media (max-width: $less-large) {
            max-width: 300px;
        }
        @media (max-width: $semi-tablet) {
            max-width: 280px;
        }
        @media (max-width: $exta-variable) {
            max-width: 270px;
        }
        @media (max-width: $tablet) {
            max-width: 240px;
        }
        @media (max-width: $less-tablet) {
            max-width: 100%;
            margin: auto;
        }
    }
}
.contacts {
    padding-top: 2rem;
    padding-left: 4rem;

    @media (max-width: $exta-variable) {
        padding-left: 2.5rem;
    }

    &__name {
        margin-bottom: 1rem;
        p {
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
            color: #e7eaf0;

            @media (max-width: $tablet) {
                font-size: 1.1rem;
            }
        }
    }

    &__list {
        z-index: 10;
    }

    &__item {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #e8ebf3;
        margin-bottom: 8px;

        @media (max-width: $exta-variable) {
            font-size: 1rem;
        }
        @media (max-width: $tablet) {
            font-size: 0.9rem;
        }
    }

    &__item-location {
        display: flex;
        img {
            width: 13px;
            height: 18px;
            margin-right: 8px;
        }
    }
}

.map {
    position: relative;
    top: 5px;
}

.main-header {
    @media (max-width: $less-tablet) {
        flex-direction: column;
        border-bottom: 0;
        h2 {
            border-bottom: 1px $main-text-color solid;
        }
    }
}
.upper-btn {
    @media (max-width: $less-tablet) {
        display: none;
    }
}

.btn-wrapper {
    @media (max-width: $less-tablet) {
        display: flex;
        justify-content: center;
    }
}
