@import "./../../../../styles/variables.scss";

.card-wrapper {
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;  

    @media (max-width: $tablet) {
        flex-direction: column-reverse;
    }
}

.main-content {
    display: flex;
}

.second-content {
    display: flex;
    justify-content: space-between;
    @media (max-width: $tablet) {
        margin-bottom: 22px;
    }
}

.job-card {
    display: flex;
    background-color: white;
    min-height: 164px;
    padding: 24px 16px;
    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.08), 0px 2px 1px -1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin-bottom: 8px;

    @media (max-width: $very-large) {
        max-width: 1060px;
    }
    @media (max-width: $tablet) {
        margin: auto;
        margin-bottom: 10px;
        max-width: 596px;
        background-color: #eff0f5;
        justify-content: center;
    }

    &__photo {
        min-width: 85px;
        height: 85px;
        margin-right: 26px;

        @media (max-width: $semi-mobile) {
            min-width: 66px;
            height: 66px;
            margin-right: 18px;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            @media (max-width: $tablet) {
                margin-top: 44px;
            }
        }
    }
}
.card-info-wrapper {
    display: flex;
    justify-content: space-between;

}
.card-info {
    max-width: 712px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $very-large) {
        max-width: 660px;
    }
    @media (max-width: $large) {
        max-width: 576px;
    }
    @media (max-width: $medium) {
        max-width: 312px;
    }
    &__title {
        color: $main-text-color;
        font-family: $montserrat-font;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 8px;
        width: 600px;

        @media (max-width: $very-large) {
            max-width: 570px;
        }
        @media (max-width: $large) {
            max-width: 446px;
        }
        @media (max-width: $semi-tablet) {
            max-width: 366px;
        }
        @media (max-width: $exta-variable) {
            max-width: 340px;
        }
        @media (max-width: $semi-mobile) {
            max-width: 322px;
        }
        @media (max-width: $medium) {
            font-weight: 600;
            max-width: 262px;
        }
        @media (max-width: $almost-mobile) {
            max-width: 240px;
        }
        @media (max-width: $semi-mobile) {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 4px;
        }
        @media (max-width: $almost-mobile) {
            font-weight: 500;
            max-width: 230px;
        }
        @media (max-width: $mobile) {
            font-weight: 400;
            max-width: 220px;
        }
    }

    &__subtitle {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: $second-text-color;
        font-family: $montserrat-font;
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 8px;

        @media (max-width: $semi-mobile) {
            margin-bottom: 4px;
        }
    }

    &__subtitle-container{
        display: flex;
    }

    &__location {
        display: flex;
        color: $second-text-color;
        img {
            margin-right: 5px;
        }
    }
}
.card-rate {
    align-self: center;
    &:hover {
        cursor: pointer;
    }
    &__star {
        &:hover {
            transform: scale(1.1);
        }
        @media (max-width: $less-tablet) {
            width: 15px;
            height: 15px;
        }
        @media (max-width: $semi-mobile) {
            width: 10px;
            height: 10px;
        }
    }
}
.card-end {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $tablet) {
        flex-direction: column-reverse;
    }

    &__bookmark {
        width: 16px;
        height: 20px;
        border: 0;
        background-color: inherit;
        align-self: flex-end;
        margin-right: 8px;

        @media (max-width: $tablet) {
            display: none;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
    &__time {
        color: $second-text-color;
        font-family: $montserrat-font;
        max-width: 212px;
    }
}
